// table {
//   width: 100%;
// }

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.paginacija {
  align-self: stretch;
}

mat-form-field {
  width: 250px;
}

@media (max-width: 900px) {
  h1 {
    margin: 20px;
  }
}

@media (max-width: 400px) {
  h1 {
    table {
      min-width: 320px;
      width: 100vw;
    }
  }
}
