<mat-toolbar color="primary" class="header-toolbar">
  <span id="menuTitle">Zaposlenici</span>
  <nav class="top-nav">
    <a mat-button class="nav-link-item" routerLink="/">Popis zaposlenika</a>
    <a mat-button class="nav-link-item" routerLink="/employee-form"
      >Unos zaposlenika</a
    >
    <button
      type="button"
      (click)="sidenav.toggle()"
      mat-icon-button
      id="menuIcon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </nav>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="over">
    <div class="side-nav">
      <a
        mat-button
        (click)="sidenav.close()"
        class="sideNav-link-item"
        routerLink="/"
        ><mat-icon>view_list</mat-icon>Popis zaposlenika</a
      >
      <a
        mat-button
        (click)="sidenav.close()"
        class="sideNav-link-item"
        routerLink="/employee-form"
        ><mat-icon>edit_square</mat-icon>Unos zaposlenika
      </a>
    </div></mat-sidenav
  >
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
